@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.menu_list__menu-list::-webkit-scrollbar {
  width: 8px;
}

.menu_list__menu-list::-webkit-scrollbar-track:hover {
  border-radius: 4px;
}
.menu_list__menu-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #888;
}
